@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  @apply relative overflow-hidden bg-black h-screen w-screen flex justify-center items-center;
}

.grow {
  animation: grow 1.5s infinite ease;

  @keyframes grow {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
}
