.cardMessage {
  a {
    @apply flex items-center space-x-3 cursor-pointer;
  }

  .cardMessage_avatar {
    @apply rounded-full min-w-[4.375rem];

    img {
      @apply h-[4.375rem] w-[4.375rem] rounded-full object-cover;
    }
  }

  .cardMessage_wrapper {
    @apply flex flex-col;
  }

  .cardMessage_name {
    @apply text-lg font-bold;
  }

  .cardMessage_message {
    @apply text-sm flex items-center space-x-1;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 14.375rem;
      display: inline-block;
    }
  }
}
