import { Sample as SampleComponent } from '@components/sample/Sample'
import Seo from '@template/seo/Seo'
import React from 'react'

const {{pascalCase name}} = () => {
  return (
    <section className="p-10">
      <Seo title="{{pascalCase name}}" />
      <h1>{{pascalCase name}}</h1>
      <SampleComponent />
    </section>
  )
}

export default {{pascalCase name}}
